#игнорируем папку
OutputTotal/
QuadrEquation/
LinearEquation/

#игнорируем файлы с определенным расширением
docs/*.txt


#git status --untracked-files=all (показать видимые ненаблюдаемые файлы в Git)
#git add . (добавить файлы)
